<div class="container">

  <h1 class="text-center">Welcome to the homepage of Ordinary Geeks LLC</h1>

  <div class="text-center">
    <img src="../../assets/nateordinarygeeksfinal.png" height="400" width="400" />
  </div>
  <p>
    Ordinary Geeks is an app and video game company founded by Nathaniel Stokes.  Its projects include a wellness application, a contagion tracker, and video games.  Please take some time to become acquainted
    with the website.  The github is located at github.com/OrdinaryGeeks.  This website is programmed in Angular and .Net Core. 
  </p>

  <div class="text-center" *ngIf="isAuthenticated">

    <h3 class="text-center text-light">Services</h3>
    <ul class="text-center">
      <li class="text-center text-light">Transformative Workout Life</li>
      <li class="text-center text-light">Mentor Companion</li>
      <li class="text-center text-light">Contagion Tracker</li>
      <li class="text-center text-light">Trucking App</li>
    </ul>

  </div>


</div>
